{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "babel",
    "import",
    "react",
    "react-hooks",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["plugin:jest/recommended", "jest-enzyme"],
  "rules": {
    "linebreak-style": "off", // Doesn't work properly on Windows
    "arrow-parens": "off", // incompatible with prettier
    "object-curly-newline": "off", // incompatible with prettier
    "no-mixed-operators": "off", // incompatible with prettier
    "arrow-body-style": "off", //
    "function-paren-newline": "off", // incompatible with prettier
    "no-plusplus": "off",
    "space-before-function-paren": 0, // incompatible with prettier
    "max-len": ["error", 100, 2, { "ignoreUrls": true }],
    "no-console": "error",
    "no-alert": "error",
    "no-param-reassign": "off",
    "radix": "off", // parseInt, parseFloat and radix off
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js",".jsx"] }],
    "prefer-destructuring": "off",
    "react/no-find-dom-node": "off",
    "react/no-did-mount-set-state": "off",
    "react/no-unused-prop-types": "off", //  Doesn't work stabile
    "react/jsx-one-expression-per-line": "off",
    "prettier/prettier": ["error"],
    "no-unused-vars": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
